body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    color: #444;
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3 {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

select {
    border: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

button, select {
    background: #EFEFEF;
    border: none;
    font-size: inherit;
}

button.large {
    width: 100%;
}

button:active {
    color: #EFEFEF;
    background-color: #444444;
}

textarea {
    border: 2px solid #444444;
    resize: none;
    padding: 5px;
}

.header {
    background-color: #F15F79;
    overflow: hidden;
    padding: 20px;
    color: #FFF;
}

.body {
    padding: 20px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

table td {
    vertical-align: top;
}

td {
    padding: 5px 0px;
}

div.sep {
    background-color: #444;
    height: 2px;
    margin-bottom: 10px;
}

.highlight {
    background-color: #50C9C3;
    padding: 5px;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#messages {
    width: 500px;
    margin: auto;
}

.message {
    overflow: auto;
    margin-bottom: 10px;
}

.message_inner {
    max-width: 300px;
}

.message_inner_right {
    float: right;
    background-color: #eef2f3;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.message_inner_left {
    float: left;
    background-color: #b6fbff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
